@{
    ViewBag.Title = "bracket";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}


<div class="col-sm-12" style="border:2px solid #FFB63E;border-left:0px;border-right:0px;padding:15px;margin-bottom:20px;color: #0ed364; background:#000;">
    <h1 style="text-align:center;font-weight:bold;">Bracket View</h1>
</div>


<div class="col-sm-10 col-sm-offset-1 clearfix " style="margin-top:100px;">
    <div>
        <img class="imgDiv img-responsive" src="leftupperpane.png" />
    </div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -28px;left: 40px;"><h4>MMG Tournament Schedule</h4></div>
        <div class="col-sm-12" style="padding-left:8px;padding-right:8px;">
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;height:100%;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">13 TUE</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">First Four</h6>
                    <p class="match-content-desc">Dayton, OH</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">14 WED</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">First Four</h6>
                    <p class="match-content-desc">Dayton, OH</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">15 THU</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">First Round</h6>
                    <p class="match-content-desc">Buffalo, NY</p>
                    <p class="match-content-desc">Milwaukee, WI</p>
                    <p class="match-content-desc">Orlando, FL</p>
                    <p class="match-content-desc">Salt Lake City, UT</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">16 FRI</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">First Round</h6>
                    <p class="match-content-desc">Buffalo, NY</p>
                    <p class="match-content-desc">Milwaukee, WI</p>
                    <p class="match-content-desc">Orlando, FL</p>
                    <p class="match-content-desc">Salt Lake City, UT</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">17 SAT</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">Second Round</h6>
                    <p class="match-content-desc">Buffalo, NY</p>
                    <p class="match-content-desc">Milwaukee, WI</p>
                    <p class="match-content-desc">Orlando, FL</p>
                    <p class="match-content-desc">Salt Lake City, UT</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">13 TUE</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">Second Round</h6>
                    <p class="match-content-desc">Buffalo, NY</p>
                    <p class="match-content-desc">Milwaukee, WI</p>
                    <p class="match-content-desc">Orlando, FL</p>
                    <p class="match-content-desc">Salt Lake City, UT</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="padding-left:8px;padding-right:8px;">
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">23 THU</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">Sweet 16</h6>
                    <p class="match-content-desc">San Jose, CA</p>
                    <p class="match-content-desc">Kansas, MO</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">24 FRI</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">sweet 16</h6>
                    <p class="match-content-desc">Newyork, NY</p>
                    <p class="match-content-desc">Memphis, TN</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">25 SAT</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">Elite Eight</h6>
                    <p class="match-content-desc">San Jose, CA</p>
                    <p class="match-content-desc">Kansas, MO</p>

                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">MAY</h4>
                    <h4 class="match-top-desc">26 SUN</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">Elite Eight</h6>
                    <p class="match-content-desc">Newyork, NY</p>
                    <p class="match-content-desc">Memphis, TN</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">JUNE</h4>
                    <h4 class="match-top-desc">1 SAT</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">FINAL FOUR</h6>
                    <p class="match-content-desc">Pheonix, AZ</p>
                </div>
            </div>
            <div class="col-sm-2" style="padding-left:0px;padding-right:0px;border: 1px solid #e6e7e9;">
                <div class="matchHeader">
                    <h4 class="match-top-title">JUNE</h4>
                    <h4 class="match-top-desc">3 MON</h4>
                </div>
                <div class="matchBody col-sm-2">
                    <h6 class="match-content-title">National ChampionShip</h6>
                    <p class="match-content-desc">Pheonix, AZ</p>
                </div>
            </div>
        </div>
    </div>
</div>