@{
    ViewBag.Title = "feature";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="col-sm-12" style="border:2px solid #FFB63E;border-left:0px;border-right:0px;padding:15px;margin-bottom:20px;color: #0ed364; background:#000;">
    <h1 style="text-align:center;font-weight:bold;">Feature Page</h1>
</div>








<div class="col-sm-10 col-sm-offset-1 clearfix " style="margin-top:100px;">
    <div>
        <img class="imgDiv img-responsive" src="leftupperpane.png" />
    </div>
    <div class="artDiv clearfix">
        <div style="position: absolute;top: -36px;left: 120px;"><h4 style="font-size:35px;">Art</h4></div>
        <div class="col-sm-12" style="padding-left:8px;padding-right:8px;">

            <img src="11.jpg" class="featureImg" />
            <img src="12.jpg" class="featureImg" />
            <img src="13.jpg" class="featureImg" />
            <img src="14.jpg" class="featureImg" />
            <img src="15.jpg" class="featureImg" />
            <img src="16.jpg" class="featureImg" />
            <img src="14.jpg" class="featureImg" />
            <img src="15.jpg" class="featureImg" />
            <img src="16.jpg" class="featureImg" />
            <img src="11.jpg" class="featureImg" />
            <img src="12.jpg" class="featureImg" />
            <img src="13.jpg" class="featureImg" />


        </div>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-1 clearfix " style="margin-top:100px;">
    <div>
        <img class="imgDiv img-responsive" src="leftupperpane.png" />
    </div>
    <div class="artDiv clearfix">
        <div style="position: absolute;top: -36px;left: 75px;"><h4 style="font-size:35px;">Streamer</h4></div>
        <div class="col-sm-12" style="padding-left:8px;padding-right:8px;">

            <img src="11.jpg" class="featureImg" />
            <img src="12.jpg" class="featureImg" />
            <img src="13.jpg" class="featureImg" />
            <img src="14.jpg" class="featureImg" />
            <img src="15.jpg" class="featureImg" />
            <img src="16.jpg" class="featureImg" />
            <img src="14.jpg" class="featureImg" />
            <img src="15.jpg" class="featureImg" />
            <img src="16.jpg" class="featureImg" />
            <img src="11.jpg" class="featureImg" />
            <img src="12.jpg" class="featureImg" />

        </div>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-1 clearfix " style="margin-top:100px;">
    <div>
        <img class="imgDiv img-responsive" src="leftupperpane.png" />
    </div>
    <div class="artDiv clearfix">
        <div style="position: absolute;top: -36px;left: 110px;"><h4 style="font-size:35px;">Misc</h4></div>
        <div class="col-sm-12" style="padding-left:8px;padding-right:8px;">

            <img src="11.jpg" class="featureImg" />
            <img src="12.jpg" class="featureImg" />
            <img src="13.jpg" class="featureImg" />
            <img src="14.jpg" class="featureImg" />
            <img src="15.jpg" class="featureImg" />
            <img src="16.jpg" class="featureImg" />
            <img src="14.jpg" class="featureImg" />
            <img src="15.jpg" class="featureImg" />
            <img src="16.jpg" class="featureImg" />
            <img src="11.jpg" class="featureImg" />


        </div>
    </div>
</div>