@{
    ViewBag.Title = "GameAbout";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="col-sm-12 tournament-header" style="">
    <h1 class="t-heading">About Us</h1>
</div>
<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3 style="color:white;">Our Mission</h3></div>
        <div>
            <p style="color:white;">
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>
            <br />
            <p style="color:white;">
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>
            <br />
            <p style="color:white;">
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>
        </div>

    </div>

</div>

<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3 style="color:white;">Our Work</h3></div>
        <div>
            <p style="color:white;">
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>
            <br />
            <p style="color:white;">
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>

        </div>

    </div>

</div>

<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3 style="color:white;">Our Team</h3></div>
        <div>
            <p style="color:white;">
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>
            <br />
            <p style="color:white;">
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>

        </div>

    </div>

</div>