@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="clearfix col-sm-12" style="padding:0px;">
    <div class="col-sm-12" style="margin-bottom:20px;">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/10.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">ALP</h3>
                    <h4 style="color:white;">
                        Anthony Lopez
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div style="" class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/13.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">RIP</h3>
                    <h4 style="color:white;">
                        Raymond Davis
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/12.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">CRM</h3>
                    <h4 style="color:white;">
                        Kate Upton
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/11.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">JCC</h3>
                    <h4 style="color:white;">
                        John Cena
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="margin-bottom:20px;">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/14.jpg" />
                </div>
                <div style="height:220px;padding:20px;">
                    <h3 class="playerNick">ALP</h3>
                    <h4 style="color:white;">
                        Anthony Lopez
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/15.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">RIP</h3>
                    <h4 style="color:white;">
                        Raymond Davis
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/16.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">CRM</h3>
                    <h4 style="color:white;">
                        Kate Upton
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/19.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">JCC</h3>
                    <h4 style="color:white;">
                        John Cena
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="margin-bottom:20px;">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/19.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">ALP</h3>
                    <h4 style="color:white;">
                        Anthony Lopez
                    </h4>
                    <p style="color:white;">My Test Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/20.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">RIP</h3>
                    <h4 style="color:white;">
                        Raymond Davis
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/12.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">CRM</h3>
                    <h4 style="color:white;">
                        Kate Upton
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene and...</p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="playerDiv">
                <div class="imgdivimg" style="height:196px;">
                    <img class="img-responsive playerImg" src="/Images/11.jpg" />
                </div>
                <div class="playerDesc">
                    <h3 class="playerNick">JCC</h3>
                    <h4 style="color:white;">
                        John Cena
                    </h4>
                    <p style="color:white;">Reepal “Rip” Parbhoo has been a prominent member of the Fighting Game Community since the late 90’s as a competitive player and caster. Rip is no stranger to the competitive scene </p>
                </div>
                <div class="viewMoreDiv">
                    <a class="viewMoreAnc" href="#">View more...</a>
                </div>
            </div>
        </div>
    </div>
</div>