@{
    ViewBag.Title = "PrivatePolicy";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="col-sm-12 tournament-header" style="">
    <h1 class="t-heading">Private Policy</h1>
</div>
<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Our Policy</h3></div>
        <div>
            <p>
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>
            <ol>
                <li>
                    <span>All users are responsible for checking the rules in his/her own time, as they are always subject to change without notice.</span>
                </li>
                <li>
                    <span>All services are provided as is, and are subject to change.</span>
                </li>
                <li>
                    <span>All users must be 13 or older. Users found to be breaking this rule will be banned.</span>
                </li>
                <li>
                    <span>No piracy discussion or links to sites that advocate piracy. No exceptions will be made.</span>
                </li>
                <li>
                    <span>Cheating and lying to bypass the established rules of play is prohibited. Getting caught cheating or lying about the outcome of matches during ranked games will receive a punishment equal to the offense. Helping people boost through the ranks, playing off site outside of our format and purposefully sandbagging in ranked matches are examples of cheating.</span>
                </li>
                <li>
                    <span>Be respectful of all users on the site. Inappropriate conduct such as flaming, harassing and demoralizing language is not tolerated. Users breaking this rule will find their privileges revoked, such as display names.</span>
                </li>
                <li>
                    <span>No linking of explicit content such as borderline nudity, suggestive themes and full blown pornography</span>
                </li>
            </ol>
        </div>

    </div>

</div>



<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Sub Policy</h3></div>
        <div>
            <p>
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>
            <br />
            <p>
                Do you have a wonderful team behind the scenes? Shed a little limelight on them, just as Food Studio has done here. An interesting thing that Food Studio has done, though, is they have executed their employee profiles in rustic watercolor illustrations that feed into the whimsical and warm vibe of the rest of the page.

                Establish a theme and atmosphere for your About Us page that matches the rest of your site and branding, and then try your best to shape every element in a way that complements that – whether that means using stylish sleek photos of your team members, or whimsical watercolor illustrations.
            </p>

        </div>

    </div>
