@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="col-sm-12 tournament-header" style="">
    <h1 class="t-heading">Money Match Gaming Rules</h1>
</div>
<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Basic Guidelines</h3></div>
        <div>
            <ol>
                <li>
                    <span>All users are responsible for checking the rules in his/her own time, as they are always subject to change without notice.</span>
                </li>
                <li>
                    <span>All services are provided as is, and are subject to change.</span>
                </li>
                <li>
                    <span>All users must be 13 or older. Users found to be breaking this rule will be banned.</span>
                </li>
                <li>
                    <span>No piracy discussion or links to sites that advocate piracy. No exceptions will be made.</span>
                </li>
                <li>
                    <span>Cheating and lying to bypass the established rules of play is prohibited. Getting caught cheating or lying about the outcome of matches during ranked games will receive a punishment equal to the offense. Helping people boost through the ranks, playing off site outside of our format and purposefully sandbagging in ranked matches are examples of cheating.</span>
                </li>
                <li>
                    <span>Be respectful of all users on the site. Inappropriate conduct such as flaming, harassing and demoralizing language is not tolerated. Users breaking this rule will find their privileges revoked, such as display names.</span>
                </li>
                <li>
                    <span>No linking of explicit content such as borderline nudity, suggestive themes and full blown pornography</span>
                </li>
                <li>
                    <span>Moderators are here to keep the peace and impeding their ability to do so through harassment or otherwise will result in punishment. Privately contact a moderator concerning an issue you have with the site.</span>
                </li>
                <li>
                    <span>Inappropriate names including (but not limited to): sexual, drug, explicit, or racial language are not allowed.</span>
                </li>
                <li>
                    <span>Unless given permission by the other party, posting private or match chat logs is not allowed.</span>
                </li>
            </ol>
        </div>

    </div>

</div>

<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Code of Conduct</h3></div>
        <div>
            <p>
                Let's be honest, Smash Brothers has evolved into something beyond a regular party game. From Melee, to Brawl and even 64, there are strong competitive communities. There will be cursing, arguing, and salt in the public and private chatrooms, and that's okay. However, there are limits.
            </p>
            <p>
                Spam will not be tolerated. Spamming up the main chat with repeated messages over and over again, random links, self advertisement and other forms of spam will not be tolerated.  If you're uncertain if a link/message is spam, please contact a moderator.
            </p>
            <p>
                The rules are in place to keep a harmony among the site's users. Each individual situation will be viewed within it's own bubble, but previous rulings may be held against you. A user's prior actions and reputation can affect any punishments leveraged for damaging behavior.
            </p>
            <p>
                Subscribing to the site does not give any special immunity for breaking the rules. A subscribed user is like any other free user when it comes to disputes and rules, and are subject to be banned for repeated failure to follow the rules all the same.
            </p>
        </div>

    </div>

</div>

<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Ranked Matches</h3></div>
        <div>
            <p>When playing a ranked match, users are playing for glory. The stakes are higher, the salt is flowing, and people will generally play a lot harder. As such, the rules must be extremely clear. These rules should be considered guidelines, and any effort to circumvent playability will be considered breaking a rule, regardless of whether it was directly listed below or not.</p>
            <p>When playing a ranked match, users are playing for glory. The stakes are higher, the salt is flowing, and people will generally play a lot harder. As such, the rules must be extremely clear. These rules should be considered guidelines, and any effort to circumvent playability will be considered breaking a rule, regardless of whether it was directly listed below or not.</p>

            <p>When playing a ranked match, users are playing for glory. The stakes are higher, the salt is flowing, and people will generally play a lot harder. As such, the rules must be extremely clear. These rules should be considered guidelines, and any effort to circumvent playability will be considered breaking a rule, regardless of whether it was directly listed below or not.</p>

        </div>

    </div>

</div>

<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Disputes</h3></div>
        <div>
            <p>
                Moderators have the ability to make judgement calls on disputes. Disputes are filed in a queue for moderators to review. Please be respectful of the decisions moderators have to make under pressure. If you have an issue, privately contact the moderator and discuss the problem. Should a moderator decide that, for any reason, whether provoked or not, that the way in which you conducted yourself during and/or after the match was harmful in any way, the dispute may be settled against you, regardless of the results.
            </p>
            <h4>Submitting Proof</h4>
            <p>
                Sometimes the chat logs will be more than enough proof to indict a user. Be sure to log your complaint right after the incident in question, do not wait until after the fact. This section pertains to regular reports as well as disputes.
            </p>
            <h4>Valid Reason to Dispute</h4>
            <p>
                You may dispute a match if any of the aforementioned rules of ranked matches were broken by your opponent without good reason. Some things are far harder to prove than others so providing as much proof as possible in every situation will ensure the dispute is handled as fairly and accurately as possible. Please also be aware of what is stated in the Lag / Latency Issues section of the rules.
            </p>

        </div>

    </div>

</div>


<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Tournament Matches</h3></div>
        <div>
            <p>
                Tournaments will follow the same rules as Ranked Matches with the following changes
            </p>
            <ol>
                <li>
                    <span>Time is of the essence during a tournament. Users should always be aware of the tournament organizers and respond promptly. Failure to do so can result in loss of round or even disqualification from the tournament.</span>
                </li>
                <li>
                    <span>Tournament organizers can remove anyone they deem to be disrupting the tournament.</span>
                </li>
                <li>
                    <span>Users may be requested to allow streamers to spectate their matches for the tournament stream.</span>
                </li>
                <li>
                    <span>Latency/Lag may not be optimal when playing people across the country.  Users should try to be fair and understand the circumstances and play their best regardless of the conditions.</span>
                </li>
                <li>
                    <span>Complaints about playability should be brought up to the tournament organizer before a match has been completed.</span>
                </li>
                <li>
                    <span>Users who have internet/computer issues during a tournament may be disqualified from the tournament.</span>
                </li>
            </ol>
        </div>

    </div>

</div>


<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Challenges</h3></div>
        <div>
            <p>Challenges are a useful feature when looking for matches. There's nothing wrong with challenging a user available to play. But, users should not harass other users over declining/ignoring challenges. Actions such as that will be treated like any other form of harassment. If you can't find a match through challenges, just opening up a regular ranked match is fine.</p>
            <p>Challenges are a useful feature when looking for matches. There's nothing wrong with challenging a user available to play. But, users should not harass other users over declining/ignoring challenges. Actions such as that will be treated like any other form of harassment. If you can't find a match through challenges, just opening up a regular ranked match is fine.</p>

            <p>Challenges are a useful feature when looking for matches. There's nothing wrong with challenging a user available to play. But, users should not harass other users over declining/ignoring challenges. Actions such as that will be treated like any other form of harassment. If you can't find a match through challenges, just opening up a regular ranked match is fine.</p>


        </div>

    </div>

</div>

<div class="col-sm-8 col-sm-offset-2" style="padding:30px;margin-top:50px;">
    <div><img class="imgDiv1" src="/Images/leftupperpane.png" /></div>
    <div class="contentDiv" style="width:100%;">
        <div style="position: absolute;top: -10px;left: 55px;"><h3>Money Matches</h3></div>
        <div>
            <p>
                The site does not directly support money matches. Although they aren't banned, should you choose to money match somebody and they don't pay, the moderators cannot force your opponent to do so. Furthermore, harassing a user to money match you after a ranked game is still considered standard harassment.
            </p>

            <p>
                The site does not directly support money matches. Although they aren't banned, should you choose to money match somebody and they don't pay, the moderators cannot force your opponent to do so. Furthermore, harassing a user to money match you after a ranked game is still considered standard harassment.
            </p>

            <p>
                The site does not directly support money matches. Although they aren't banned, should you choose to money match somebody and they don't pay, the moderators cannot force your opponent to do so. Furthermore, harassing a user to money match you after a ranked game is still considered standard harassment.
            </p>

        </div>

    </div>
</div>
