@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="col-sm-12 tournament-header" style="">
    <h1 class="t-heading"><i class="fa fa-calendar " aria-hidden="true"></i> Upcoming Tournaments</h1>
</div>
<div class="col-sm-10 col-sm-offset-1" style="padding:30px;">
    <div class="col-xl-3 col-md-6 col-sm-6">
        <div class="tournament-card panel" style="background-color: black; border: ridge; border-color: orange;">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-wii-u.png">
                    <span class="game_name"> Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar" style="background-color:white;"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info" style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/melee.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-3ds.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-3ds.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">
        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-wii-u.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info" style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/melee.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-3ds.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-3ds.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">
        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-wii-u.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info" style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/melee.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-3ds.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">

        <div class="tournament-card panel">
            <div class="panel-heading">
                <a title="Team Flamewave Tournament #39" style="color:#0ed364;font-weight:bold;" class="tournament_card" href="https://www.smashladder.com/tournaments/details/3361/Team-Flamewave-Tournament-39">
                    Team Flamewave Tournament #39
                </a>
            </div>
            <div class="panel-body">
                <div class="game_info " style="">
                    <img class="tournament_logo_url pull-right" src="https://www.smashladder.com/images/logos/smash-3ds.png">
                    <span class="game_name">Sm4sh Wii U</span>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-calendar"></i> 4/22/2017 10:00pm
                    </li>
                    <li>
                        Region: <span>online</span>
                    </li>
                    <li>
                        Hosted By:
                        <a class="username user_id_66492 user_listed_erik8803" href="https://www.smashladder.com/player/66492/erik8803">Erik8803</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39/register" target="_blank">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://smash.gg/tournament/team-flamewave-tournament-39" target="_blank">Bracket</a>
                    </li>
                    <li>
                        <a class="chat" href="#">chat</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
